<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyScriptRunner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<main>
    <h1>PyScriptRunner</h1>
    <hr>
    <br>
    <form action="{{ url_for('edit_script', id=script['id']) }}" method="post">
        <label for="script_name">Script Name:</label>
        <br>
        <input id="script_name" name="script_name" type="text" value="{{ script["name"] }}"/>
        <br>
        <label for="code">Code:</label>
        <br>
        <textarea id="code" name="code" rows="20">{{ script["code"] }}</textarea>
        <br>
        <input type="submit" value="Save Script"/>
        <input type="button" onclick="parent.location='/'" value="Cancel"/>
    </form>
    {% for msg in get_flashed_messages() %}
        <strong style="color: orange;">{{ msg }}</strong>
    {% endfor %}
</main>
</body>
</html>